# Importing the necessary packages and modules

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
import extract_dataframe
import clean_tweets_dataframe

# Data Acquisition

We are going to use the downloaded data found a Documents/Tweet_Data_Analysis/Twitter-Data-Analysis-10Academy-Training/data/Economic_Twitter_Data.json. The data is going to be loaded into a dataframe using the exract_dataframe module

In [2]:
 tweets_len, tweet_list = extract_dataframe.read_json("data/Economic_Twitter_Data.json")

In [3]:
tweets_len

24625

In [11]:
tweet = extract_dataframe.TweetDfExtractor(tweet_list)
tweet_df = tweet.get_tweet_df(True)  #This creates the df and also saves it to a csv

File Successfully Saved.!!!

In [12]:
#confirm the loaded data
tweet_df.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @nikitheblogger: Irre: Annalena Baerbock sa...,0.0,0.0,de,113,355,McMc74078966,3,12,None,[],"[{'screen_name': 'nikitheblogger', 'name': 'Ne...",None
1,Fri Apr 22 22:19:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...,0.0,0.0,de,113,505,McMc74078966,3,12,None,[],"[{'screen_name': 'sagt_mit', 'name': 'Sie sagt...",None
2,Fri Apr 22 22:17:28 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...,0.0,0.0,de,113,4,McMc74078966,3,12,None,[],"[{'screen_name': 'Kryptonoun', 'name': 'Krypto...",None
3,Fri Apr 22 22:17:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @WRi007: Die #Deutschen sind ein braves Vol...,0.0,0.0,de,113,332,McMc74078966,3,12,None,"[{'text': 'Deutschen', 'indices': [16, 26]}, {...","[{'screen_name': 'WRi007', 'name': 'Wolfgang B...",None
4,Fri Apr 22 22:13:15 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @RolandTichy: Baerbock verkündet mal so neb...,0.0,0.0,de,113,386,McMc74078966,3,12,None,[],"[{'screen_name': 'RolandTichy', 'name': 'Rolan...",None

# Data Preprocessing

Data preprocessing will involve a series of steps to prepare the data for modelling. 
We will first clean the dataframe created above using the Clean_Dataframe class from clean_dataframe.py

In [13]:
tweetsDf_cleaner = clean_tweets_dataframe.Clean_Tweets(tweet_df)

Automation in Action...!!!

#### Drop unwanted Columns

In [14]:
tweets_df=tweetsDf_cleaner.drop_unwanted_column(tweetsDf_cleaner.df)

#### Drop Duplicates

In [20]:
tweets_df_no_duplicates = tweetsDf_cleaner.drop_duplicate(tweets_df)

#### Convert columns in the dataframe to the correct data types

In [23]:
#convert the dates to datetime
clean_df = tweetsDf_cleaner.convert_to_datetime(tweets_df_no_duplicates)

In [24]:
#convert the numeric columns to number
clean_df = tweetsDf_cleaner.convert_to_numbers(clean_df)

### Remove Non-English tweets

In [25]:
clean_eng_df = tweetsDf_cleaner.remove_non_english_tweets(clean_df)

In [26]:
clean_eng_df.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
38,2022-04-22 22:17:05,"<a href=""http://twitter.com/download/android"" ...",RT @NorthstarCharts: The 10-year yield is tell...,0.16,0.540000,en,12179,43,davideiacovozzi,18,55,None,"[{'text': 'gold', 'indices': [116, 121]}, {'te...","[{'screen_name': 'NorthstarCharts', 'name': 'N...",None
39,2022-04-22 13:44:53,"<a href=""http://twitter.com/download/android"" ...",RT @MichaelAArouet: German 10y mortgage rate w...,0.15,0.175000,en,12179,32,davideiacovozzi,18,55,None,[],"[{'screen_name': 'MichaelAArouet', 'name': 'Mi...",None
41,2022-04-22 06:10:34,"<a href=""http://twitter.com/download/android"" ...",RT @goldseek: When? https://t.co/kO2FfHKaZg,0.00,0.000000,en,12179,26,davideiacovozzi,18,55,None,[],"[{'screen_name': 'goldseek', 'name': 'Peter ⚒ ...",None
42,2022-04-21 17:22:09,"<a href=""http://twitter.com/download/android"" ...",RT @charliebilello: The 30-year mortgage rate ...,0.00,0.183333,en,12179,213,davideiacovozzi,18,55,None,[],"[{'screen_name': 'charliebilello', 'name': 'Ch...",None
43,2022-04-21 10:32:26,"<a href=""http://twitter.com/download/android"" ...",RT @biancoresearch: Rates rise until something...,-0.40,0.400000,en,12179,417,davideiacovozzi,18,55,None,[],"[{'screen_name': 'biancoresearch', 'name': 'Ji...",None